<h1>Contact Me</h1>



<form method="post" action="/contact">
  <label>Name</label>
  <input name="name" value="{{form.name}}" />

  <label>Email</label>
  <input name="email" type="email" value="{{form.email}}" />

  <label>Message</label>
  <textarea name="message">{{form.message}}</textarea>

  <button class="btn" type="submit">Send</button>
</form>
