<footer class="site-footer">
  <div class="container footer-simple">
    <!-- Blurb -->
 

    <!-- this is categories -->
    <nav class="footer-cats">
      <a href="#projects">Projects</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
    </nav>

    <!-- Socials -->
    <div class="footer-socials">
     <a href="https://github.com/nijinsino" target="_blank" aria-label="GitHub">
  <i class="fab fa-github"></i>
</a>

<a href="https://www.linkedin.com/in/nijin-sino-1710ba29b" target="_blank" aria-label="LinkedIn">
  <i class="fab fa-linkedin"></i>
</a>

<a href="mailto:nijinsino@gmil.com" aria-label="Email">
  <i class="fa-solid fa-envelope"></i>
</a>

    </div>
  </div>

  <div class="footer-bottom">
    <div class="container footer-bottom-row">
      <p>© {{year}} <strong>{{profile.name}}</strong></p>
      <p class="footer-links-inline">
        <a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms &amp; Conditions</a>
      </p>
    </div>
  </div>
</footer>
