<header class="header">
  <div class="container header-row">
    <a class="logo" href="#home">My Portfolio</a>
    <nav>
<ul class="nav-links">
  <li><a href="/">Home</a></li>
  <li><a href="about">About</a></li>
  <li><a href="projects">Projects</a></li>
  <li><a href="contact">Contact</a></li>
</ul>



    </nav>
  </div>
</header>
{{!-- this is the shared header --}}